<section>
  <app-header></app-header>

  <br />
  <br />
  <!-- body div container 1 -->
  <div class="container" style="object-fit: cover">
    <h2
      class="text-centre"
      style="color: #0b2c4e; text-align: center; font-size: xx-large"
    >
      Welcome to JAN DHAN BANK
    </h2>

    <p
      class="container"
      style="font-size: x-large; color: red; text-align: center"
    >
      Banking at your fingertip ...!
    </p>
  </div>

  <br />

  <div class="container text-white" style="object-fit: cover">
    <div
      class="jumbotron bg-cover"
      style="
        background-image: url('../../assets/images/welcome1.jpg');
        background-repeat: no-repeat;
        background-size: 1120px 400px;
        width: 1120px;
        height: 400px;
      "
    ></div>
  </div>

  <br />
  <br />

  <!-- Body div container 2 -->
  <div class="container card-group">
    <div class="card" style="border-radius: 10px; border: 3px solid red">
      <div
        class="card-body p-5 my-10"
        style="text-align: center; font-size: larger"
      >
        <h5 class="card-title" style="text-decoration: underline;">Locate Us</h5>
        <p class="card-text">
          You are never too far away from quick, efficient banking services.
          Locate your nearest branch or an ATM.
        </p>
      </div>
    </div>
    <div class="card" style="border-radius: 10px; border: 3px solid red">
      <div
        class="card-body p-5 my-10"
        style="text-align: center; font-size: larger"
      >
        <h5 class="card-title "style="text-decoration: underline;">Call Us</h5>
        <p class="card-text">
          In case you wish to speak to our phone banking officer for urgent
          resolution.
        </p>
      </div>
    </div>
    <div class="card" style="border-radius: 10px; border: 3px solid red">
      <div
        class="card-body p-5 my-10"
        style="text-align: center; font-size: larger"
      >
        <h5 class="card-title "style="text-decoration: underline;">Write to Us</h5>
        <p class="card-text">
          Be it an enquiry, feedback or a simple suggestion, write to us & we'll
          get back to you.
        </p>
      </div>
    </div>
  </div>
  <br />
  <br />
</section>
